# Core
numpy==1.23.5
opencv-python==4.8.1.78
# Mediapipe
mediapipe==0.10.9
# Machine Learning
tensorflow==2.10.1
keras==2.10.0
scikit-learn==1.3.2
# Audio
gTTS==2.5.1
pygame==2.5.2
# Web App
flask==2.3.3
# Utilities
Werkzeug==2.3.7